#post-container {
  border: 1px solid #BD86C7;
  height: fit-content;
  margin: 2rem auto 2rem auto;
  border-radius: 5px;
  width: 75%;
  box-sizing: border-box;
  background-color: #21222C;
}

#post-wrapper {
  padding: 2rem 0 1rem 2rem;
  box-sizing: border-box;
}

#poster-name {
  font-weight: 600;
}
