#post-container {
  border: 2px solid #B8E0D2;
  border-radius: 10px;
  height: fit-content;
  margin: 3rem auto 0 auto;
  width: 100%;
}

#post-wrapper {
  padding: 2rem 0 2rem 2rem;
}

#poster-name {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
