#home-container {
  width: 50%;
  margin: 0 auto 0 auto;
}

#home-header{
    position:sticky;
    width: 100%;
    background-color: white;
    top:0;
    margin-top: 4rem;
}

#post-container {
  border: 1px solid black;
  height: fit-content;
  margin: 3rem auto 0 auto;
}

#post-wrapper {
  padding: 2rem 0 2rem 2rem;
}

#poster-name {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
