#profile-title{

    background-color: #282A36;
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: 2px solid #BD86C7;
    overflow: hidden;
    
}

#profile-header{
    margin-top: 4rem;
    position: sticky;
    top:0;
}

.profile-page{
    margin: auto;
    width: 50%;
}

#post-form{
    display: flex;
    flex-direction: column;
}

#post-input{

    width: 100%;
    padding: 2rem 2rem 4rem 4rem;
    background-color: #21222C;
    border: none;
    box-sizing: border-box;
}

#post-input:focus{
    color: white;
}

#post-submit{
    width: 15%;
    margin-left: auto;
    margin-right: 3rem;
    margin-top: 1rem;
    padding:1rem;
    cursor: pointer;
    background-color: #F7B2AD;
    border: 1px solid #F7B2AD;
    border-radius: 5px;
}

#post-submit:hover{
    background-color: #21222C;
    color: #F7B2AD;
    border: 1px solid #21222C;
}

#my-posts{
    margin-top: 3rem;
    margin-left: 2rem;
    
}