.login-container{
    margin:auto;
    width: 400px;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.login-input{
    display: flex;
    height: 50px;
    font-size: 1.4rem;
    margin-bottom: 10px;
    border: 2px solid black;
}

.login-buttons{
    background-color: #F7B2AD;
    border: none;
    padding: 1rem;
}

.login-buttons:hover{
    background-color: #21222C;
    color: white;
    border: none;
    cursor: pointer;
}

.login-cta{
    margin-top: 1.5rem;
    background-color: transparent;
    color: #F7B2AD;
    border: none;
    padding: 1rem;
    border: 2px solid rgb(24, 24, 24);
}

.login-cta:hover{
    background-color: #21222C;
    color: white;
    cursor: pointer;
    border: 2px solid black;
}

.error-message{
    color: red;
    font-style: italic;
}

