.App{
    display: flex;
    background-color: #282A36;

}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    color:#F7B2AD;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}

#vp{
    display: flex;
    flex-direction: row;
    width: 100%;
}

label{
    color: #F7B2AD;
    margin-bottom:0.3rem;
}